@import "../style/_variables.scss";

.App {
    margin: 0;
    padding: 20px;
    background-color: $bg-gray;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 20px 0;
    button {
        width: 100px;
        height: 30px;
        color: white;
        border: none;
        background-color: $primary-color;
    }
}

.student-list {
    section {
        display: grid;
        grid-template-columns: repeat(8,11%);
        grid-gap: 1.7%;
    }
    h3 {
        margin-bottom: 20px;
    }
    input {
        margin-bottom: 10px;
        height: 30px;
        text-align: center;
        border: none;
        background-color: $light-gray;
    }
    .add-student {
        color: $dark-gray;
        border: 2px solid $gray;
        background-color: white;
    }
}

.group {
    display: block;
    width: 800px;
    height: 800px;
    border: 1px solid red;
}
